footer {
  color: white;
  background-color: $primary-bg;
  padding-top: 20px;
  padding-bottom: 30px;

  img {
    width: 120px;
  }

  li {
    margin: 10px 0;

    &:hover {
      color: $tertiary-color;
      cursor: pointer;
    }
  }

  .footer__restaurant__icon::before {
    content: "\f2e7";
    font-family: $font-awesome;
    font-weight: 600;
    margin-right: 10px;
  }
  .footer__partner__icon::before {
    content: "\f4c4";
    font-family: $font-awesome;
    font-weight: 600;
    font-size: 12px;
    margin-right: 10px;
  }
}

@media (min-width: $desktop) {
  footer {
    padding-bottom: 10px;

    img {
      display: block;
      margin: auto;
    }

    ul {
      max-width: 800px;
      margin: 15px auto 0;
      display: flex;
      justify-content: space-between;
    }
  }
}