.restaurants {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: $tertiary-bg;

  .restaurant__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: $shadow;
    margin-bottom: 20px;

    img {
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 200px;
      object-fit: cover;
      object-position: 50% 60%;
    }

    .restaurant__card__info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .restaurant__card__title {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-bottom: 20px;

        h2 {
          margin-top: 20px;
          margin-bottom: 5px;
          font-size: large;
        }

        span {
          font-size: medium;
        }

        
      }

      .icon_like {
        padding: 20px;
        font-size: x-large;
      }
    }
  }
}