button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient($secondary-color, $primary-color);
  box-shadow: $shadow;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-focus;
    opacity: 0.95;
  }
}


/* Like button */

.like__container {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  position: relative;

  .fa-solid {
    background: linear-gradient($primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: $like-animation;
  }

  &:hover .fa-solid {
    opacity: 1;
    visibility: visible;
    
  }

  .fa-regular {
    position: absolute;
    opacity: 1;
    visibility: visible;
    transition: $like-animation;
  }  

  &:hover .fa-regular {
    opacity: 0;
    visibility: hidden;
    
  }
}

