.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: $secondary-bg;
  animation: loading 2.5s ease-in;
  opacity: 0;
  visibility: hidden;
  z-index: 3;

  .loader__item {
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background-color: $secondary-color;
    animation: animation-loading 1.8s ease-in-out;

    &:first-child {
      animation-delay: -100ms;
      background-color: $tertiary-color;
    }

    &:last-child {
      animation-delay: 100ms;
      background-color: $primary-color;
    }
  }
}

.restaurant__menu__card {
  animation: fadein-menu 1.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.delay-0{
  animation-delay: 0s;
}

.delay-1{
  animation-delay: 0.2s;
}

.delay-2{
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

/* Keyframes */

@keyframes loading {
  0% {
    opacity: 0.8;
    visibility: visible;
  }

  80% {
    opacity: 0.8;
  }
  
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes animation-loading {
  0% {
    transform: translateY(0);
  }
  
  25% {
    transform: translateY(-35px);
  }
  
  50% {
    transform: translateY(0);
  }
  
  75% {
    transform: translateY(-25px);
  }
  
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein-menu {
  0% {
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}